{% include 'CML_discount' %}

{% capture metafield %}{{customer_tag}}~{{product.selected_or_first_available_variant.id}}{% endcapture %}
{% assign meta_value = product.metafields.customer_tags[metafield] | split: ',' %}

{% assign discounted_amount = '' %}


{% if meta_value == blank %}


{% assign buddy_price = product.selected_or_first_available_variant.price %}

{% else %}


{% assign discounted_amount = meta_value[1] | times : 100 %}
{% assign buddy_price = discounted_amount %}

{% endif %}

<span class="money">
  {% if product.variants.size > 1 %}
  Starting at: {{ buddy_price | money }}
  {% else %}
  {{ buddy_price | money }}
  {% endif %}
</span>