

<!-- discount script -->

{% assign customer_tag = "" %}

{% if customer %}

{% for tag in customer.tags %}

{% for meta in shop.metafields.customer_tags %}

{% assign tag_name = meta.last | split: "," %}

{% if tag_name[0] contains tag %}

{% assign customer_tag = tag %}

{% endif %}

{% endfor %}

{% endfor %}

{% endif %}

{% assign show_note = true %}

{% assign store_logo = 'https://cdn.shopify.com/s/files/1/0425/7687/1584/files/Logo_new_5_kerning_2.png?v=1597522482' %}

{% assign checkout_heading = 'Your Order details' %}