{% assign station_theme_id = 112305832096 %}{%- capture header_content -%}{{- content_for_header -}}{%- endcapture -%}
{%- if header_content contains 'tabs-by-station.js' -%}
  {%- capture tabs_order -%}{%- include 'station-tabs-order' -%}{%- endcapture -%}

  {%- if template.name == 'product' -%} 
    {% capture tabs_data %}{% include 'station-tabs-data', tabs_order: tabs_order %}{% endcapture %}
    {{- tabs_data -}}
  {%- endif -%}

  <style id="station-tabs-main-style">
    div[data-station-tabs-app]{clear:both}.station-tabs{border-color:currentColor;border-style:solid !important;border-width:0;clear:both;display:flex;flex-wrap:wrap;margin:1em 0}.station-tabs:first-child{margin-top:0}.station-tabs:last-child{margin-bottom:0}.station-tabs:empty{display:none}.station-tabs.mod-hide-focus .station-tabs-link:focus{outline:0}.station-tabs .station-tabs-link{-webkit-tap-highlight-color:rgba(0,0,0,0);border-color:currentColor;border-style:solid !important;border-width:0;box-sizing:border-box;display:inline-block;position:relative;text-decoration:none !important;white-space:nowrap;width:initial;z-index:1}.station-tabs .station-tabs-link:hover,.station-tabs .station-tabs-link:active{outline:0}.station-tabs .station-tabs-link:hover,.station-tabs .station-tabs-link:focus{opacity:1}.station-tabs .station-tabs-link.is-active{color:inherit}.station-tabs .station-tabs-link:after{border-width:0 !important}.station-tabs .station-tabs-link:first-child.is-active+.station-tabs-content{border-top-left-radius:0}.station-tabs .station-tabs-link span{color:inherit !important}.station-tabs .station-tabs-content{box-sizing:border-box;height:0;order:1;overflow:hidden;width:100%}.station-tabs .station-tabs-content:not(.is-active){height:0 !important}.station-tabs .station-tabs-content.is-active{height:auto}.station-tabs .station-tabs-content iframe,.station-tabs .station-tabs-content img,.station-tabs .station-tabs-content video{max-width:100%}.station-tabs .station-tabs-content img{height:auto}.station-tabs .station-tabs-content iframe{border-width:0}.station-tabs .station-tabs-content-inner{border-color:currentColor;border-style:solid !important;border-width:0;box-sizing:border-box;width:100%}.station-tabs .station-tabs-content-inner ul,.station-tabs .station-tabs-content-inner ol{padding:0 !important;margin-left:3em !important}.station-tabs .station-tabs-content-inner ul li{list-style:disc !important}.station-tabs .station-tabs-content-inner ul li ul li{list-style:circle !important}.station-tabs .station-tabs-content-inner ol li{list-style:decimal !important}.station-tabs .station-tabs-content-inner>p:last-child,.station-tabs .station-tabs-content-inner>ol:last-child,.station-tabs .station-tabs-content-inner>ul:last-child{margin-bottom:0}.station-tabs .station-tabs-content-inner:before,.station-tabs .station-tabs-content-inner:after{content:'';display:table}.station-tabs .station-tabs-content-inner:after{clear:both}.station-tabs.mod-full-width{display:block}.station-tabs.mod-full-width:empty{display:none}.station-tabs.mod-full-width .station-tabs-link{display:block;white-space:normal;width:auto}.station-tabs.mod-full-width .station-tabs-content{transition:height 300ms}.station-tabs.mod-full-width .station-tabs-content:last-child .station-tabs-content-inner{margin-bottom:0;padding-bottom:0}
 
     
    .station-tabs .station-tabs-link{border-radius:3px 3px 0 0 !important;padding:12px 24px !important;margin:0 0 -1px 0 !important;border-width:1px 1px 0 1px !important;border-color:transparent !important;font-size:1em !important;font-weight:500 !important;font-style:normal !important;text-align:center !important;color:#000000 !important;}.station-tabs.mod-full-width .station-tabs-link{border-radius:0 !important;padding:14px 24px !important;margin:0 !important;border-width:1px 0 0 !important;border-color:#e1e1e1 !important;}.station-tabs .station-tabs-link.is-active{font-weight:600 !important;background-color:#FFFFFF !important;border-color:#e1e1e1 !important;color:#000000 !important;font-size:1em !important;font-style:normal !important;}.station-tabs .station-tabs-content-inner{background-color:#FFFFFF !important;border-color:#e1e1e1 !important;padding:24px 0 0 !important;border-width:1px 0 0 0 !important;color:#000000 !important;text-align:left !important;}.station-tabs.mod-full-width .station-tabs-content-inner{padding:10px 24px 24px !important;border-width:0 !important;border-radius:0 !important;}.station-tabs .station-tabs-link:hover{color:#175228 !important;}.station-tabs .station-tabs-link.is-active:hover{color:#175228 !important;}.station-tabs.mod-full-width {border-width:1px !important;border-radius:3px !important;border-color:#e1e1e1 !important;}.station-tabs.mod-full-width .station-tabs-link:first-of-type{border-width:0 !important;} 
  </style>

  <script id="station-tabs-main-script" type="text/javascript">
    ;(function(){
      window.Station = window.Station || {};window.Station.Apps = window.Station.Apps || {};
      window.Station.Apps.Tabs = {
        version: '4.2.6',
        proxy_path: '/apps/station-tabs',
        order: {{ tabs_order }},
        settings: {"dev_mode":false,"product_autosplit":true,"product_autosplit_heading":"h5","product_description_tab":true,"product_description_tab_title":"Product Details","force_full":false,"force_wrap":true,"full_open":true,"full_single_active":false,"clean_content":null,"deep_links":true,"clean_content_level":"basic_tags","autostop_enabled":false,"autostop_heading":"h6","autostop_heading_show":true,"force_breakpoint":false,"force_breakpoint_value":768,"placement_selector":"","placement_position":"append"},
        template: '{{ template.name }}',
        events: {},
        station_theme_id: {% if station_theme_id %}{{ station_theme_id }}{% else %}null{% endif %},
        shopify_theme_id: {{ theme.id }},
        enabled: {% if station_theme_id == theme.id %}true{% else %}false{% endif %},
        on: function(e, cb) {
          if (e === 'ready' && this.isReady) return cb.call(this);
          var callbacks = this.events[e] || [];
          callbacks.push(cb);
          this.events[e] = callbacks;
        }
      };
      var s = window.Station.Apps.Tabs.settings;
      s.clean_content_nodes = ['div', 'span', 'section', 'article'];
      s.fix_known_issues = true;
      s.show_content_after = {% if template.name == 'product' %}true{% else %}false{% endif %};
      s.full_scroll_sync_enabled = true;
      s.init_on_load = true;
    })();
    !function(){var I="station-tabs",h="mod-full-width",o="mod-hide-focus",g="is-active",s="is-initialized",a="aria-selected",v="aria-hidden",l="aria-labelledby",c="tabindex",E=I+"-link",B=I+"-content",N=I+"-content-inner",u="data-"+I+"-app",d="."+I+"-data-item",T="role",m="false",f="true",t="!important",j=window.Station.Apps.Tabs,R=j.settings,O=j.order,n=null,b=null;j.trigger=function(e,t){var n=this.events[e];!n||n.length<1||n.forEach(function(e){e.call(j,t)})};function p(){return window.innerWidth}var i=p();function r(e){var t=document.createElement("style");t.innerHTML=e,document.head.appendChild(t)}function y(e,t){if(e)for(var n=e,i=0;i<n.length;i++)n[i].style.height=t||n[i].scrollHeight+"px"}function _(e){e=e||{};for(var t=1;t<arguments.length;t++)if(arguments[t])for(var n in arguments[t])arguments[t].hasOwnProperty(n)&&(e[n]=arguments[t][n]);return e}function z(e){for(var t=e.parentNode;e.firstChild;)t.insertBefore(e.firstChild,e);t.removeChild(e)}j.getInstances=function(e){var t=document.querySelectorAll("div["+u+"]"),n="number"==typeof e;return!t.length||!1 in t[0]?!n&&[]:n?t[e]||!1:t};function F(e){var t="àáâäæãåāăąçćčđďèéêëēėęěğǵḧîïíīįìłḿñńǹňôöòóœøōõṕŕřßśšşșťțûüùúūǘůűųẃẍÿýžźż·/_,:;",n=new RegExp(t.split("").join("|"),"g");return e.toString().toLowerCase().replace(/^\s*\d+/g,"").replace(/\s+/g,"-").replace(n,function(e){return"aaaaaaaaaacccddeeeeeeeegghiiiiiilmnnnnooooooooprrsssssttuuuuuuuuuwxyyzzz------".charAt(t.indexOf(e))}).replace(/&/g,"").replace(/[^\w\-]+/g,"").replace(/\-\-+/g,"-").replace(/^-+/,"").replace(/-+$/,"")}function H(e,t,n){return(e||"tab-"+(t+1))+"_"+n+"-"+t}function w(e){var t=e.lastIndexOf("_"),n=e.substring(0,t),i=e.substring(t+1).split("-"),r=0<parseInt(i[0],10)?"_"+i[0]:"";return{vanityId:n,scope:parseInt(i[0],10),index:parseInt(i[1],10),suffix:r}}function P(e){var t=document.createElement("div");return t.className=B,t.innerHTML='<div class="'+N+'"></div>',e&&(t.id=e,t.setAttribute(l,"st-link-"+e)),t}function A(e,t){for(var n=e.length-1;0<=n;n--)e[n].setAttribute(c,"-1"),e[n].setAttribute(a,m);t.setAttribute(c,"0"),t.setAttribute(a,f)}function k(e,t,n){if(e&&t){for(var i=e.length-1;0<=i;i--)"st-link-"+n!==e[i].id&&e[i].classList.remove(g);for(i=t.length-1;0<=i;i--)"st-"+n!==t[i].id&&(t[i].classList.remove(g),t[i].setAttribute(v,f))}}function S(n,i){R.full_scroll_sync_enabled&&(cancelAnimationFrame(b),b=requestAnimationFrame(function e(){var t=i.getBoundingClientRect().top-n;t<0&&window.scrollBy(0,t),b=requestAnimationFrame(e)}))}function C(e,t,n,i){var r,o,a,s,l,c,u,d,f,p;n&&(r=_({animate:!0,deepLink:!0},i),o=n.getAttribute("href").substr(1),(a=e.querySelector("#st-"+o))&&(s=e.classList.contains(h),l=e.querySelectorAll("."+E+"."+g),c=e.querySelectorAll("."+B+"."+g),(u=r.scrollIntoView)&&(d={behavior:"smooth",block:"center"},f="object"==typeof u?Object.assign(d,u):d,setTimeout(function(){n.scrollIntoView(f)})),n.classList.contains(g)?s&&!r.preventClose?(r.animate&&y([a]),setTimeout(function(){k([n],[a])},20),history.replaceState(null,null,window.location.pathname+window.location.search)):k(l,c,o):(s?R.full_single_active&&(r.animate&&(y(c),r.scrollIntoView||(S(n.getBoundingClientRect().top,n),setTimeout(function(){cancelAnimationFrame(b)},400))),k(l,c)):k(l,c),A(t,n),!R.force_wrap&&r.animate&&s&&y([a]),n.classList.add(g),a.classList.add(g),a.setAttribute(v,m),r.deepLink&&R.deep_links&&(p=w(o),history.replaceState(null,null,"#"+p.vanityId+p.suffix)),r.skipCallback||j.trigger("open",{instance:e,link:n,content:a}))))}function L(e,t,n,i){var r,o,a;t.length&&(r=e.id===I+"-0"?"_":"-",!(a=(o=window.location.hash.substr(1))?e.querySelector("."+E+'[href^="#'+o+r+'"]'):null)&&i||C(e,t,a||t[0],{deepLink:!1,animate:!1,skipCallback:!0}))}function D(e,t,n,i,r){var o,a,s,l,c,u,d;t&&(o=e.querySelectorAll("."+E),a=t.querySelector("."+E),s=t.querySelector("."+B),l=a.cloneNode(!0),c=s.cloneNode(!0),u=F(l.textContent.trim()),l.id="st-link-"+H(u,n,i),l.href="#"+H(u,n,i),c.id="st-"+H(u,n,i),d=o[r-1],r&&d?(e.insertBefore(l,d),e.insertBefore(c,d)):(e.appendChild(l),e.appendChild(c)))}function q(e,t){var n=document.createElement("div"),l=t,i=e.getAttribute("data-tabs-type"),r=[],o=R.autostop_enabled?e.querySelector(R.autostop_heading+":last-of-type"):null;n.id=I+"-"+l,n.className=I+" is-loading";var a,s=R.clean_content_level;if("no_attrs"===s)for(var c=e.querySelectorAll("div,span"),u=c.length-1;0<=u;u--)c[u].attributes.length||z(c[u]);else s&&(a=[],R.product_autosplit&&"general"!==i&&a.push(R.product_autosplit_heading),o&&a.push(R.autostop_heading),W(e,a,"basic_tags"===s?R.clean_content_nodes:null));function d(e,t,n){var i=H(F(t),n,l);e.querySelector("."+B).id="st-"+i;var r,o,a,s=(r=t,o=i,(a=document.createElement("a")).href="#"+o,a.id="st-link-"+o,a.className=E,a.innerHTML="<span>"+r+"</span>",a);e.insertBefore(s,e.firstChild)}var f=e.childNodes,p=f.length-1;if(o)for(u=p;0<=u;u--)if(f[u]===o){p=u-1;break}if(R.product_autosplit)for(u=p;0<=u;u--){var h=f[u];h.nodeName===R.product_autosplit_heading.toUpperCase()&&h.textContent.trim().length&&r.push(h)}!function(){if(R.product_description_tab&&"product"===j.template){if(R.hide_single_description_tab)if(0===document.querySelectorAll(".station-tabs-data-item").length&&0===r.length)return;return 1}}()||r.push(R.product_description_tab_title||"Description");var g=r.length;if(r.length&&(!i||"specific"===i)){n.insertBefore(P(),n.firstChild);for(u=p;0<=u;u--){var v=f[u];if(v===r[0]){if(r.shift(),d(n,v.textContent.trim(),r.length),v.parentNode.removeChild(v),!r.length)break;n.insertBefore(P(),n.firstChild)}else{var m=n.querySelector("."+N);m.insertBefore(v,m.firstChild)}}"string"==typeof r[0]&&d(n,r[0],0)}if(n.setAttribute(T,"tablist"),o&&e===o.parentNode?(e.insertBefore(n,o),R.autostop_heading_show||e.removeChild(o)):e.appendChild(n),!i||"general"===i){for(var b={},y=[],_=g,u=0;u<O.length;u++){var w,A=O[u],k=document.getElementById(I+"-data-"+A);k&&(0<(w=parseInt(k.getAttribute("data-position"),10))&&!b[w]?(b[w]=k,y.push(w)):(D(n,k,_,l),_++))}y.sort(function(e,t){return e-t});for(u=0;u<y.length;u++)D(n,b[y[u]],_,l,y[u]),_++}for(var S,C,L=document.querySelectorAll(["."+N+" ."+B,"."+N+" ."+E].join(", ")),u=L.length-1;0<=u;u--){var q,x=L[u];x.parentNode.classList.contains(I)||((q=x.querySelector("."+N))&&z(q),z(x))}return!R.show_content_after||(S=document.getElementById("station-tabs-content-after"))&&"false"!==e.getAttribute("data-tabs-show-content-after")&&(C=S.cloneNode(!0),e.appendChild(C),C.style.display="block"),n}function x(n){for(var t=n.querySelectorAll("."+E),e=n.querySelectorAll("."+B),i=t.length-1;0<=i;i--){var r=t[i].getAttribute("href").substr(1);t[i].setAttribute(T,"tab"),t[i].setAttribute("aria-controls","st-"+r),t[i].setAttribute(a,m),t[i].setAttribute(c,"-1"),t[i].addEventListener("click",function(e){e.preventDefault(),e.stopPropagation(),C(n,t,this),n.classList.contains(o)||n.classList.add(o)}),t[i].addEventListener("keydown",function(e){!function(e,t,n,i){var r,o,a=i.which;if(-1!==[13,32,35,36,37,38,39,40].indexOf(a)){i.preventDefault(),i.stopPropagation();for(var s=t[0],l=t[t.length-1],c=t.length-1;0<=c;c--)if(t[c].id===n.id){r=t[c+1],o=t[c-1];break}switch(a){case 37:case 38:o?o.focus():l.focus();break;case 39:case 40:r?r.focus():s.focus();break;case 36:s.focus();break;case 35:l.focus();break;case 13:case 32:C(e,t,n)}}}(n,t,this,e)}),t[i].addEventListener("focus",function(e){n.classList.remove(o),A(t,this)})}for(i=e.length-1;0<=i;i--)e[i].setAttribute(T,"tabpanel"),e[i].setAttribute(l,e[i].id.substr(0,3)+"link-"+e[i].id.substr(3)),e[i].setAttribute(v,f),e[i].addEventListener("transitionend",function(e){this.style.removeProperty("height"),cancelAnimationFrame(b);var t=document.getElementById(this.id.substring(0,3)+"link-"+this.id.substring(3));j.trigger("transitionEnd",{instance:n,link:t,content:this})});return{i:n,l:t,p:e}}function M(t,n,i){if(n.length){var r=document.querySelectorAll("."+E+"."+g);if(R.force_breakpoint){var e=R.force_breakpoint_value>p();return t.classList[e?"add":"remove"](h),e?s():L(t,n),e}t.classList.remove(h);var o=n[0].offsetHeight/2,a=n[0].getBoundingClientRect();return n[n.length-1].getBoundingClientRect().top-a.top>o?(t.classList.add(h),s(),!0):(L(t,n),!1)}function s(){k(n,i);for(var e=0;e<r.length;e++)C(t,n,r[e],{deepLink:!1,animate:!1,skipCallback:!0})}}function V(){j.isReady||(j.isReady=!0,j.trigger("ready"),document.dispatchEvent(new CustomEvent("stationTabsReady")))}var W=function(e,t,n){if(e.hasAttribute(u)&&t.length)for(var i=e.querySelectorAll(t.join(",")),r=i.length-1;0<=r;r--){var o=i[r].parentNode,a=(o.nodeName||"").toLowerCase();if(!o.hasAttribute(u)&&(!n||-1!==n.indexOf(a))){z(o),W(e,t,n);break}}};window.addEventListener("resize",function(e){n&&clearTimeout(n),n=setTimeout(function(){i!==p()&&(function(){for(var e=document.querySelectorAll("."+I),t=0;t<e.length;t++)for(var n=e[t].querySelectorAll("."+E),i=e[t].querySelectorAll("."+B),r=0;r<i.length;r++)i[r].style.removeProperty("height"),R.force_full||R.force_wrap||M(e[t],n,i)}(),i=p())},300)},!1),j.init=function(e){var t=e||j.getInstances();if(t.length){tabsets=[];for(var n,i,r,o=0;o<t.length;o++){t[o].classList.contains(s)||(t[o].classList.add(s),n=q(t[o],o),i=R.placement_selector,o===(R.placement_instance_index||0)&&i&&0<i.trim().length&&(t[o]=function(e,t,n){var i=Object.assign({location:"append"},n),r="string"==typeof t?document.querySelector(t):t;if(!e||!r)return e;var o=e.cloneNode(!1);r.insertAdjacentElement("prepend"===i.location?"afterbegin":"beforeend",o),e.removeAttribute(u);for(var a=e.childNodes,s=null,l=0;l<a.length;l++)if(a[l].classList&&a[l].classList.contains("station-tabs")){s=l;break}for(;a[s];)o.appendChild(a[s]);return o}(t[o],i.trim(),{location:R.placement_position||"append"})),r=x(n),tabsets.push(r))}if(!j.settings.keepSourceData)for(var a=document.getElementsByClassName(d.slice(1));0<a.length;)a[0].parentNode.removeChild(a[0]);setTimeout(function(){for(var e,t=0;t<tabsets.length;t++)e=tabsets[t],R.force_full&&e.i.classList.add(h),R.force_full||R.force_wrap?L(e.i,e.l,e.p,!R.full_open&&!R.force_wrap):(L(e.i,e.l,e.p,!R.full_open),M(e.i,e.l,e.p)),tabsets[t].i.classList.remove("is-loading"),tabsets[t].i.classList.add("is-ready");var n,i=((window.Shopify||{}).theme||{}).theme_store_id;R.fix_known_issues&&i&&((n={730:"brooklyn",829:"narrative",851:"galleria",855:"prestige",871:"warehouse"}[i.toString()])&&j.autoFixes[n]()),V()},0)}else V()},j.getTab=function(e){var t=e;"string"!=typeof e&&(t=e.href?e.getAttribute("href"):(e.id||"").replace(/^st-/,""));var n="Tab with ID "+t+" is not found.",i=t.replace(/^#/,""),r=w(i),o=document.getElementById("station-tabs-"+r.scope);if(!o)return console.warn(n),!1;var a=document.getElementById("st-link-"+i),s=document.getElementById("st-"+i);return a&&s?{id:i,instance:o,link:a,content:s,instanceIndex:r.scope,tabIndex:r.index,suffix:r.suffix,vanityId:r.vanityId}:(console.warn(n),!1)},j.open=function(e,t){var n=e.replace(/^#/,""),i=j.getTab(n);if(!i)return!1;var r=i.instance.querySelectorAll(".station-tabs");return C(i.instance,r,i.link,_({preventClose:!0},t||{})),i},j.openByTitle=function(e,t){for(var n=F(e),i=document.querySelectorAll('[id^="st-link-'+n+'_"]'),r=null,o=0;o<i.length;o++){var a=i[o].getAttribute("href").substr(1);if(w(a).vanityId===n){r=a;break}}return r?j.open(r,t):(console.warn("Could not find tab with title: "+e),!1)},j.openByIndex=function(e,t,n){var i="object"==typeof t,r=i?t:n,o=!i&&t||0,e=e||0,a=document.querySelectorAll("."+I);if(!a[o])return!1;var s=a[o].querySelectorAll("."+E);return!!s[e]&&j.open(s[e].getAttribute("href"),r)},j.autoFixes={brooklyn:function(){var e=".product-single__meta";r(e+" {position:relative "+t+";left: auto "+t+";top:auto "+t+";height:auto "+t+";z-index:auto "+t+";}"+e+"--wrapper > div:last-child:empty {display: none "+t+";}")},galleria:function(){var e=".product-page-row";r([e+" .desktop-flex-wrapper",e+" .product-item-wrap",e+" .product-gallery-product-template"].join(", ")+"{position:relative "+t+";height:auto "+t+";}")},narrative:function(){r(".product__form-wrapper{position:relative "+t+";top:initial "+t+";}")},prestige:function(){var e;window.theme&&(window.theme.enableExperimentalResizeObserver=!0,e=function(){var e=".Product__",t=document.querySelector(e+"Wrapper"),n=document.querySelector(e+"Info");t.style.minHeight=n.offsetHeight+"px"},j.on("open",e),j.on("transitionEnd",e),e())},warehouse:function(){var e="expandable-content",t=document.querySelector(".product-block-list__item--description ."+e);t&&t.querySelector("div["+u+"]")&&t.classList.remove(e,e+"--expandable")}},R.init_on_load&&j.init(),document.head.appendChild(document.getElementById(I+"-main-style")),document.body.appendChild(document.getElementById(I+"-main-script"))}();
  </script>
{% endif %}