{% assign rtl = '' %}
{% assign slick_rtl = false %}
{% if section.settings.direction == true %}
{% assign rtl = 'rtl' %}
{% assign slick_rtl = true %}
{% endif %}

<div class="container-fluid p-0 slideshow-container-debut">
  <div class="slideshow-slick" dir="{{ rtl }}">
  {% for block in section.blocks %}
  <div class="slideshow-slide">
    <a href="{{ block.settings.url }}"><img src="{{ block.settings.img | img_url: '400x300', crop: 'center' }}" alt="{{shop.name}}"></a>
  </div>
  {% endfor %}
  </div>
</div>
<script>
jQuery(document).ready(function($){
  const slideshow = $('.slideshow-slick');
  slideshow.slick({
    autoplay: true,
    infinite: true,
    dots: false,
    rtl: {{ slick_rtl }},
    arrows: false,
    autoplaySpeed: {{ section.settings.speed }},
    slidesToShow: {{ section.settings.slides }},
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: {{ section.settings.slides_mobile }}
		    }
	    }
    ]
  });
});
</script>

{% if section.settings.negative_margin == true %}
  <style>
    .slideshow-container-debut {
      margin-bottom: -55px;
    }
  </style>
{% endif %}

{% if section.settings.top_negative_margin == true %}
  <style>
    .slideshow-container-debut {
      margin-top: -55px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Responsive Slider",
    "settings" : [
      {
        "type" : "range",
        "id" : "slides",
        "min" : 3,
        "max" : 8,
        "step" : 1,
		"label": "Number of Slides",
        "default" : 4
      },
      {
        "type" : "range",
        "id" : "slides_mobile",
        "min" : 2,
        "max" : 6,
        "step" : 1,
        "label" : "Number of Slides on mobile",
        "default" : 3
      },
      {
        "type" : "checkbox",
        "id" : "direction",
        "label" : "Change direction of slider animation?",
        "default" : false
      },
      {
        "type" : "text",
        "id" : "speed",
        "label" : "Slideshow Speed in Miliseconds",
        "default" : "2000"
      },
      {
        "type" : "checkbox",
        "id" : "top_negative_margin",
        "label" : "Remove top space?",
        "default" : true
      },
      {
        "type" : "checkbox",
        "id" : "negative_margin",
        "label" : "Remove Bottom Space?",
        "default" : true
      }
    ],
    "blocks": [
      {
        "type" : "slide",
        "name" : "Slideshow",
        "settings" : 
        [
          {
            "type" : "image_picker",
            "id" : "img",
            "label" : "Select your image"
          },
          {
            "type" : "url",
            "id" : "url",
            "label" : "URL of the image (Optional)"
          }
        ]
      }
    ],
    "presets" : 
    [
      {
        "name" : "Slideshow",
        "category" : "Sliders"
      }
    ]
  }
{% endschema %}