<div class="container-fluid p-0 collection-slick">
  <div class="row no-gutters" style="padding-bottom: 55px;">
    <div class="col-md-3 mb-3 mb-md-0">
      <div class="cta-slider p-5">
        <h4 class="h3">{{ section.settings.heading }}</h4>
        <p class="rte_setting">{{ section.settings.subheading }}</p>
        
        <a href="{{ section.settings.btn_url }}" class="btn">{{ section.settings.btn_text }}</a>
      </div>
    </div>

    {% assign rtl = '' %}

    {% if section.settings.direction == true %}
      {% assign rtl = 'rtl' %}
    {% endif %}

    <div class="col-md-9 collection-slider-padding" style="padding-top: 55px; padding-bottom: 20px">
      <div class="collection-slider" dir="{{ rtl }}">
        {% assign collection_slider = collections[section.settings.collection] %}
        {% for product in collection_slider.products %}
        {% assign first_variant = product.selected_or_first_available_variant %}
        {% assign featured_img_src = first_variant.featured_img.src | default: product.featured_image.src %}
      
          <div class="product-slide">
            <div class="slider-image-collection">
              <a href="{{ product.url }}"><img data-lazy="{{ featured_img_src | img_url: '400x' }}" alt="{{ shop.name }}"></a>
            </div>
            <a href="{{ product.url }}" class="product-card__title mt-3">{{ product.title }}</a>
            <div>
              {% include 'product-price-listing' %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<style>

.collection-slick .btn {
  color: {{ section.settings.btn_text_color }};
  background-color: {{ section.settings.btn_bg_color }};
} 

.collection-slider-padding{
  padding: {{ section.settings.padding_slider}}px 0;
}

.cta-slider{
  background-color: {{ section.settings.bg_slider }};
}
</style>
{% assign direction_slick = false %}
{% if rtl contains 'rtl' %}
  {% assign direction_slick = true %}
{% endif %}

{% if section.settings.top_negative_margin == true %}
<style>
  .collection-slick {
    margin-top: -55px;
  }
</style>
{% endif %}

{% if section.settings.negative_margin == true %}
  <style>
    .collection-slick {
      margin-bottom: -55px;
    }
  </style>
{% endif %}

<script>
jQuery(document).ready(function($){

    const collection = $('.collection-slider');
    collection.slick({
    lazyLoad: 'ondemand', 
    autoplay: true,
    autoplaySpeed:{{ section.settings.speed }},
    infinite: true,
    rtl: {{ direction_slick }},
    dots: false,
    arrows: true,
    slidesToShow: {{ section.settings.slides }},
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 2
        }
      }
	]
  });

});
</script>

{% schema %}
{
  "name" : "Collection Slider",
  "settings" : 
  [
    {
      "type": "collection",
      "id" : "collection",
      "label" : "Select your collection"
    },
    {
      "type" : "checkbox",
      "id" : "top_negative_margin",
      "label" : "Remove top space from section?",
      "default" : false
    },
    {
      "type" : "checkbox",
      "id" : "negative_margin",
      "label" : "Remove bottom space from section?",
      "default" : false
    },
    {
      "type" : "range",
      "id" : "padding_slider",
      "label" : "Vertical padding for slider",
      "min" : 0,
      "max" : 100,
      "step" : 1,
      "unit" : "px",
      "default" : 20
    },
    {
      "type" : "checkbox",
      "id" : "direction",
      "label" : "Change direction of slide animation?",
      "default" : false
    },
    {
      "type" : "text",
      "id" : "speed",
      "label" : "Speed of Slider on Miliseconds",
      "default" : "2000"
    },
    {
      "type":"range",
      "id":  "slides",
      "min" : 2,
      "max" : 4,
      "step" : 1,
      "label" : "Number of sliders",
      "default" : 3
    },
    {
      "type" : "color",
      "id" : "bg_slider",
      "label" : "Background Color",
      "default" : "#2C6B63"
    },
    {
      "type" : "text",
      "id" : "heading",
      "label" : "Title Slider",
      "default" : "Our Best Sellers"
    },
    {
      "type" : "textarea",
      "id" : "subheading",
      "label" : "Sub Heading Text",
      "default" : "Durable pieces that withstand the test of time"
    },
    {
      "type" : "text",
      "id" : "btn_text",
      "label" : "Button Text",
      "default" : "SHOP NOW"
    },
    {
      "type" : "url",
      "id" : "btn_url",
      "label" : "Button URL"
    },
    {
      "type" : "color",
      "id" : "btn_bg_color",
      "label" : "Button Background Color",
      "default" : "#FFFFFF"
    },
    {
      "type" : "color",
      "id" : "btn_text_color",
      "label" : "Button Text Color",
      "default" : "#2C6B63"
    }
  ],
  "presets" :
  [
    {
      "name" : "Collection Slider",
      "category" : "Sliders" 
    }
  ]
}
{% endschema %}