{%- comment -%} Please don’t update this content {%- endcomment -%}
{%- comment -%} This collection template is used to integrate boost product filter with 3rd party apps {%- endcomment -%}

{% layout none %}
{
  "products":
    [
      {%- for tag in current_tags -%}
        {
          {%- assign product_handle = tag | handle -%}
          {%- assign product = all_products[product_handle] -%}
                  
          "id":{{ product.id | json }},          
          "cml_html": 
            {%- capture cml_html -%}
            {%- include 'bc-CML' -%}
            {%- endcapture -%}
            {{ cml_html | json }}

        }
        {%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
}