<div class="page-width">
  <div class="boost-pfs-filter-tree-mobile-button">
    {% include 'boost-pfs-filter-skeleton', type: 'button' %}
  </div>
  <div class="boost-pfs-filter-wrapper">
    <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v">
      {% include 'boost-pfs-filter-skeleton', type: 'filter-tree' %}
    </div>
    <div class="boost-pfs-filter-right">
      <div class="page-width">
        <div class="text-center">
          <h1 class="boost-pfs-search-result-header h2">{{ 'general.search.title' | t }}</h1>
          <div class="grid">
            <div class="grid__item medium-up--two-fifths medium-up--push-three-tenths">
              <form action="{{ routes.search_url }}" method="get" role="search" class="search">
                <div class="input-group">
                  <input type="search"
                         class="input-group__field search__input"
                         name="q"
                         value="{{ search.terms | escape }}"
                         placeholder="{{ 'general.search.placeholder' | t }}"
                         aria-label="{{ 'general.search.placeholder' | t }}"
                         autofocus>
                  <input type="search" id="SearchInput">
                  <span class="input-group__btn">
                    <button class="btn search__submit" type="submit">{{ 'general.search.submit' | t }}</button>
                  </span>
                </div>
              </form>
            </div>
          </div>

          <hr class="hr--small hr--invisible">
          <p class="boost-pfs-search-result-number">
            {% include 'boost-pfs-filter-skeleton', width: 2 %}
          </p>
        </div>
      </div>

      <div class="filters-toolbar-wrapper">
        <div class="page-width">
          <div class="filters-toolbar">
            <div class="filters-toolbar__item-wrapper">
              <div class="filters-toolbar__item-child boost-pfs-filter-top-sorting">
                {% include 'boost-pfs-filter-skeleton', width: 2 %}
              </div>
            </div>
            <div class="filters-toolbar__item filters-toolbar__item--count">
              <span class="filters-toolbar__product-count boost-pfs-filter-total-product">
                {% include 'boost-pfs-filter-skeleton', width: 2 %}
              </span>
            </div>

          </div>
        </div>
      </div>
      <div class="boost-pfs-filter-products grid grid--uniform grid--view-items">
        {% comment %} Fix Shopify search term report {% endcomment %}
        {% paginate search.results by 2 %}
          {% if search.performed %}
            {% for item in search.results %}
<script type='application/json' class='bold-product-json'>{{ item | json }}</script>
              <div class="grid__item" style="display: none !important"></div>
            {% endfor %}
          {% endif %}
        {% endpaginate %}
      </div>

      <div class="boost-pfs-filter-bottom-pagination">
        {% include 'boost-pfs-filter-skeleton', width: 2 %}
      </div>
      <div class="boost-pfs-filter-load-more"></div>
    </div>
  </div>
</div>
    
<script>
  // Declare bcSfFilterConfig variable
  var boostPFSThemeConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Sorting" {% endunless %},
      sorting_best_selling: "Best Selling" ,
      sorting_featured: "Featured",
      sorting_title_ascending: "Alphabetically, A-Z",
      sorting_title_descending: "Alphabetically, Z-A",
      sorting_price_ascending:"Lowest Price",
      sorting_price_descending:"Highest Price",
      sorting_date_ascending:"Date, Old to New",
      sorting_date_descending:"Date, New to Old",
      sorting_relevance:"Relevance",
      search_general_title: {{ 'general.search.title' | t | json }},
      search_result_empty: {% assign temp = 'general.search.no_results' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Try checking your spelling or using different words." {% endunless %},
      search_result_number_one: {{ 'general.search.results_with_count.one' | t | json }},
      search_result_number_other: {{ 'general.search.results_with_count.other' | t | json }},

      sale: {{ 'products.product.on_sale' | t | json }},
      sale_price: {{ 'products.product.sale_price' | t | json }},
      sold_out: {{ 'products.product.sold_out' | t | json }},
      vendor: {{ 'products.product.vendor' | t |json }},
      regular_price: {{ 'products.product.regular_price' | t | json }},
      items_with_count_one: {{ 'collections.general.items_with_count.one' | t | json}},
      items_with_count_other: {{ 'collections.general.items_with_count.other' | t | json }},
      current_page: {{ 'general.pagination.current_page' | t | json }},
    },
    custom: {
      products_per_page: 24,
      products_per_row: 4,
      product_grid_class: 'grid__item small--one-half medium-up--one-quarter',
      max_height: 250,
      vendor_enable: true,
      layout: "grid"
    }
  };

  var boostPFSTemplate = {
    'soldOutClass': 'product-price--sold-out grid-view-item--sold-out',

    // Grid Template
    'vendorGridHtml': {% render 'boost-pfs-filter-html', layout: 'vendorGridHtml' %},
    'soldOutLabelGridHtml': {% render 'boost-pfs-filter-html', layout: 'soldOutLabelGridHtml' %},
    'productGridItemHtml': {% render 'boost-pfs-filter-html', layout: 'productGridItemHtml' %},
    // List Template
    'vendorSmallListHtml': {% render 'boost-pfs-filter-html', layout: 'vendorSmallListHtml' %},
    'vendorMediumListHtml': {% render 'boost-pfs-filter-html', layout: 'vendorMediumListHtml' %},
    'saleLabelListHtml': {% render 'boost-pfs-filter-html', layout: 'saleLabelListHtml' %},
    'soldOutLabelListHtml': {% render 'boost-pfs-filter-html', layout: 'soldOutLabelListHtml' %},
    'productListItemHtml':  {% render 'boost-pfs-filter-html', layout: 'productListItemHtml' %},
      
      // Pagination Template
    'previousActiveHtml': {% render 'boost-pfs-filter-html', layout: 'previousActiveHtml' %},
    'previousDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' %},
    'nextActiveHtml': {% render 'boost-pfs-filter-html', layout: 'nextActiveHtml' %},
    'nextDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' %},
    'paginateHtml': {% render 'boost-pfs-filter-html', layout: 'paginateHtml' %},

    // Sorting Template
    'sortingHtml': {% render 'boost-pfs-filter-html', layout: 'sortingHtml' %},
  };
</script>